@import "tailwindcss";

/* Theme variables */
:root {
  --font-heading: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-body: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto,
    Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
}

html,
body {
  height: 100%;
}

body {
  background-color: #faf7f2; /* eggshell */
  color: #000;
  font-family: var(--font-body);
  margin: 0;
}

/* Editorial headings */
h1,
h2,
h3,
h4 {
  font-family: var(--font-heading);
}
